<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
<div class="container body-content">
    <div class="row">
        <div class="jumbotron">
            <h1>Naughty</h1>
            <p>
                You are not behaving like a good user should. Please try to be good.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="~/Content/naughty.gif" />
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">I'll be good</a>
        </div>
    </div>
</div>
</body>
</html>